<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="directoryApp">
<div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UF Directory App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
</nav>
 </div>

    <div class="container">
        <div class="row" ng-controller="ListingsController">
            <div class="col-md-6">
                <div class="input-group" id="searchBar">
                    <!--

                    Implement a way to filter through listings using the search bar

                    -->
                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" placeholder="Search" ng-model="inputText">
                </div>
                <div class="tableWrapper well">
                    <!--

                     Fill in the rest of the table:
                        * populate the rows with the code and name of each listing
                        * include a way to remove individual listings

                    -->
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                Building Name
                            </th>
                            <th></th><th></th><th></th>
                        </tr>
                        <tr ng-repeat="list in listings | filter:inputText">
                            <th  ng-click="showDetails($index)" >
                                {{ list.code }}
                            </th>
                            <th  ng-click="showDetails($index)" >
                                {{ list.name }}
                            </th>
							<th>
								<button data-toggle="collapse" data-target="#moreDetails" class="btn btn-default" ng-click="showDetails($index)">
								<span class="glyphicon glyphicon-info-sign"></span>
								</button>
							</th>
							<th>
								<button data-toggle="collapse" data-target="#formToaddToListing" class="btn btn-default">
								<span class="glyphicon glyphicon-plus"></span>
								</button>
							</th>
							<th>
                                <button type="button" class="btn btn-default" ng-click="deleteListing($index)">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</th>
                        </tr>
                    </table>
                </div>
				<div id="formToaddToListing" class="collapse well">			
					<h2  class="well" style="background-color: white; text-align: center;">Add a Listing</h2>
					<form name="newForm" ng-submit="addListing()" id="newForm">
							<table class="table table-striped table-hover">
								<tr>
									<th>
										Code:
									</th>
									<th>
										<input type="text" name="code" class="form-control"  ng-model="newListing.code" required>
									</th>
									<th></th>
								</tr>
								<tr>
									<th>
										Building Name:
									</th>
									<th>
										<input type="text" name="name" class="form-control"  ng-model="newListing.name" required>
									</th>
									<th></th>
								</tr>
								<tr>
									<th>
										Coordinates:
									</th>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<th></th>
									<th>
										Latitude:
									</th>
									<th>
										<input type="text" name="lat" ng-model="newListing.latitude" class="form-control">
									</th>
								</tr>
								<tr>
									<th></th>
									<th>
										Longitude:
									</th>
									<th>
										<input type="text" name="long" ng-model="newListing.longitude" class="form-control" >
									</th>
								</tr>
								<tr>
									<th>
										Address:
									</th>
									<th>
										<input type="text" name="add" ng-model="newListing.address" class="form-control" >
									</th>
									<th></th>
								</tr>
								<tr>
									<th>
										<input type="submit" value="Add listing" class="form-control" >
									</th>
									<th></th><th></th>
								</tr>
								
							</table>
							</div>
					</form>
				
			</div>
                <div class="col-md-6 collapse" id="moreDetails">
                    <div class="jumbotron">
                        <h2 class="well" style="background-color: white; text-align: center;">
                            Detailed Information
                        </h2>
                        <!--
                            Include a way to display detailed information about an individual listing:
                               * consider how to use ng-click within the the table to implement this feature

                        -->
                        <div class="detailTable" ng-show="detailedInfo">
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>
                                        Coordinates:
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        Latitude
                                    </th>
                                    <th>
                                        Longitude
                                    </th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        {{ detailedInfo.coordinates.latitude }}
                                    </th>
                                    <th>
                                        {{ detailedInfo.coordinates.longitude }}
                                    </th>
                                </tr>
                            </table>
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>
                                        Address:
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        {{ detailedInfo.address }}
                                    </th>
                                    <th></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>

</body>
</html>